# Mengabaikan dataset yang terlalu besar
dataset/1000000-bandcamp-sales.csv

# Mengabaikan file cache Python
__pycache__/
*.py[cod]

# Mengabaikan virtual environment (jika Anda membuatnya)
venv/
env/
.env

# Artefak hasil generate (dibuat ulang oleh main_pipeline.ipynb)
database/*.db
etl/